@charset "utf-8";
/* CSS Document */


body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.tbox {
	padding: 50px;
}


.butang {
	padding: 10px;
	border-radius: 10px;
	background-color: coral;
}

