/* CSS Document */
body {
	background-color: #E0C59B;
}
.responstable {
    margin: 1em 0;
    width: 80%;
    overflow: hidden;
    background: #fff;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167f92;
}
.responstable tr {
    border: 1px solid #d9e4e6;
}
.responstable tr:nth-child(odd) {
    background-color: #eaf3f3;
}
.responstable th {
    display: none;
    border: 1px solid #fff;
    background-color: #167f92;
    color: #fff;
    padding: 1em;
}
.responstable th:first-child {
    display: table-cell;
    text-align: center;
}
.responstable th:nth-child(2) {
    display: table-cell;
}
.responstable th:nth-child(2) span {
    display: none;
}
.responstable th:nth-child(2):after {
    content: attr(data-th);
}
@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }
    .responstable th:nth-child(2):after {
        display: none;
    }
}
.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}
.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #d9e4e6;
}
@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #d9e4e6;
    }
}
.responstable th, .responstable td {
    text-align: left;
    margin: 0.5em 1em;
}
@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}
body {
    padding: 0 2em;
    font-family: Arial, sans-serif;
    color: #024457;
}
h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;

}
body {
    font-family: system-ui;
    color: pink;
    text-align: center;
}
h2 {
    text-decoration: none;
}
ul li a {
    text-decoration: none;
    list-style-type: none;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
}
ul {
    overflow: hidden;
}
li a:hover:not(.active) {
}
li a.active {
    color: white;
}

.btn {
	width: 80px;
	height: 25px;
	border: hidden;
	background-color: #714B06;
	border-radius: 10px;
}
.btn1 {
	
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}